
.App {
width: 100%;
display:block

}

.App-header {
  background-color: #1114129d;
 display: flex;
 justify-content:space-evenly;
  width: 100%;
  color: white;
  text-decoration: none;
}


.Sidesection{
  background-color: rgba(14, 13, 15, 0.868);
  width: 15%;
  height: fit-content;
  border: 2px solid black
}
.Toolbar{
  display: inline-block;
  justify-content: space-evenly;
}

a {
  color: rgb(238, 238, 241);
  text-decoration: none;
}

.figure{
  width: 50%;
  float:right;
  margin-right: 25%;
  margin-top: 5%;
  
}







