
/* .App {

display:block;
 height: 100vh; 

}

.App-header {
  background-color: #1114129d;
 display: flex;
 justify-content:space-evenly;
  width: 100%;
  color: white;
  text-decoration: none;  
}

.Sidesection{
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(14, 13, 15, 0.868);
  width: 15%;
  height: 100vh;
  border: 2px solid black
}

.Toolbar{
  display: inline-block;
  justify-content: space-evenly;
}

 a{
  color: rgb(238, 238, 241);
  text-decoration: none;
}

.figure{
  width: 100vh; 
  float:right;
  margin-right: 25%;
  
  
}
.image{
  border-radius: 5px;
} */



body {
  margin: 0;
  padding: 0;
}




.App {
  
  /* position: relative; */
  min-height: 100vh;
  overflow: hidden;
}

.Sidesection {
  flex: 0 0 15%; 
  background-color: rgb(1, 1, 1);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; 
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.Sidesection a {
  color: rgb(238, 238, 241);
  text-decoration: none;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.Sidesection a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.Content {
  flex: 1;
  padding: 20px;
  margin-right: 15%; 
  overflow-y: auto; 
}


.App-header {
  background-color: #2f302f;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  color: rgb(42, 202, 27);
  position: fixed;
  top: 0;
  
}
.App-header a{
  text-decoration: none;
  color: aliceblue;
  
}

.FigureContainer {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-end; 
  flex: 1;
  padding: 20px;
  overflow-y: auto; 

}

.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  margin-left: 190px;
  margin-top: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}


figcaption {
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-left: 180px;
}






